.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 0 var(--footer-height);
}

.footer__info {
    display: grid;
    place-items: center;
    flex: 10 0 auto;
}

.footer__logo {
    flex: 1 0 auto;
}
