:root {
    --color_black: rgb(0, 0, 0);
    --color_white: rgb(255, 255, 255);

    --color_primary: rgb(255, 255, 255);
    --color_secondary: rgb(230, 230, 230);
    --color_favorite: rgb(240, 112, 112);
    --color_background: rgb(100, 10, 70);
    --color_background_secondary: rgb(100, 100, 100);
    --color_border: rgb(112, 76, 182);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    background-color: var(--color_background);
    color: var(--color_primary);
}
ul,
li {
    margin: 0;
    padding: 0;
}

main {
    min-height: 70vh;
    padding-inline: 1rem;
}

.pagination {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.pagination__button {
    width: 40%;
    height: 3rem;
}

.detail-title__robot-name {
    color: var(--color_secondary);
    font-size: 1.6em;
    padding-left: 0.3em;
    text-transform: capitalize;
}

.robot-detail ul,
.robot-detail li {
    padding-left: 0.5rem;
}
.robot-detail > ul > li > span,
.robot-detail > ul > li > details > summary {
    color: var(--color_favorite);
    font-weight: 400;
}
